@import "core/styles/utilities/all";

@import "bulma/sass/utilities/controls";

@import "bulma/sass/base/minireset";
@import "bulma/sass/base/generic";
@import "bulma/sass/base/helpers";

@import "bulma/sass/elements/box";
@import "bulma/sass/elements/button";
@import "bulma/sass/elements/form";
@import "bulma/sass/elements/icon";
@import "bulma/sass/elements/image";
@import "bulma/sass/elements/notification";
@import "bulma/sass/elements/progress";
@import "bulma/sass/elements/table";
@import "bulma/sass/elements/tag";
@import "bulma/sass/elements/other";

@import "bulma/sass/components/card";
@import "bulma/sass/components/level";
@import "bulma/sass/components/media";
@import "bulma/sass/components/menu";
@import "bulma/sass/components/message";
@import "bulma/sass/components/modal";
@import "bulma/sass/components/pagination";
@import "bulma/sass/components/panel";
@import "bulma/sass/components/tabs";

@import "bulma/sass/grid/tiles";

html {
  background-color: $white-ter;
  height: 100%;
  color: #4A4A4A;
}
